            .mega-dropdown {
              position: static !important;
            }
            .mega-dropdown-menu {
                padding: 20px 0px;
                width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;
            }
            .mega-dropdown-menu > li > ul {
              padding: 0;
              margin: 0;
            }
            .mega-dropdown-menu > li > ul > li {
              list-style: none;
            }
            .mega-dropdown-menu > li > ul > li > a {
              display: block;
              color: #222;
              padding: 3px 5px;
            }
            .mega-dropdown-menu > li ul > li > a:hover,
            .mega-dropdown-menu > li ul > li > a:focus {
              text-decoration: none;
            }               
            .dropdown-header{
                font-size:20px;
                font-weight:bold;
                color:  Black;
            }
            .floatRight{
                float: right;
            }
            .floatCenter{
                float: none;
            }
            section {
                position: relative;
                float: left;
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                min-height: 100vh;  
            }   
            input[type="submit"], .btn-submit {
                min-width: 162px;
                font-size: 15px;
                text-transform: uppercase;
                color: #FFFFFF;
                height: 40px;
                /*border-radius: 5px;*/
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
                padding-left: 20px;
                padding-right: 20px;
                border: none;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
            h2{
                color:#222;
            }
            ul{
                padding-left:0px;
            }        
            .textAnswer{
                height: 40px;
                margin-bottom: 5px;
                padding: 5px;
                font-size: 2rem;
                border-color: rgb(51, 51, 51);
                width:98.5% !important;
                float:left;
            }
            .phone1{
                width:48%;
            }
            .phone1NoAst{
                margin-right:7px;
                width:48%;
            }
            .phoneRightNoAst{
                width:49.25%;
            }
            .phoneRight{
                width:49.25%; 
            }
            .asterick{
                color:red;
                display:inline;
                float:left;
                padding-top:12px;
            }
            .noComputer{
                float:left;
                width:75%;
                font-size:20px;
                padding-top:7px;              
            }
            .noComputerCheck{
                float:right;
                text-align:left;
                width:25%;
            }
            .docTitle{              
                float:left;
            }
            .docTitleDiv{
                float:left;
            }
            
            /*from page */

            ul.noStyle li{
                list-style:none;
                width:100%;
                display:block;
                overflow:hidden;
            }     
            ul.noStyle li h4 {
                margin-bottom:5px; !important;
            }
            textarea{
                resize:none;
                width:100%;
                /*border-radius: 5px;*/
                padding: 5px 10px 5px 10px;
            }
            select{
                width:98%;
                margin-bottom:5px;
                padding:5px 38px 5px 5px;
                height:40px;
                font-size: 2rem;
                text-align: center;
                border-color: rgb(51, 51, 51);
                border-width:1px;
                /*border-style:inset;*/
            }       
            div.bottom{
                margin-top: 20px;
            }
            .btn-default{
                background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #000000 50%, #F1F1F1 50%, #F1F1F1 100%);
                color: #003087;
                background-color: #F1F1F1;
            }   
            .validationElement {
                border: 2px solid red;
            }
            #ui-datepicker-div{
                z-index:2000;
            }
            .input-group .form-control {    
                z-index: 1;
            }
            .col-md-6{
                color: rgb(51, 51, 51);
            }
            ::-webkit-input-placeholder {
               color: rgb(51, 51, 51);
            }               
            :-ms-input-placeholder {  
               color: rgb(51, 51, 51);
            }           
            .vw-page-title-box {
                padding-left: 15px;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 25px 15px 25px 0;
            }
            .vw-page-title{
                font-size:40px;
                font-weight:bold;
                color:rgb(255,255,255);
                text-align:center;
                padding:0px;
            }
            .vw-button {
                cursor: pointer;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.4);
                border: 2px solid #fff;
                font-size: 16px;
                width: 232px;
                font-weight: bold;
                height: 44px;
                color:#fff;
                max-width: 48%;
                border-radius:5px;
             }
             .docButton{
                padding: 0px;
                height: auto;
                max-width: 100%;
             }
             .ccaf{
                text-align:left;
             }
             
             
             .vwspc-section-full-page-link {
                cursor:default;
                padding-top:118px;
             }
             .vw-button:hover {
                background-color: #e3d583;
             }
             ::-webkit-input-placeholder {
               color: rgb(51, 51, 51);
            }       
            :-moz-placeholder { /* Firefox 18- */
               color: rgb(51, 51, 51);
            }       
            ::-moz-placeholder {  /* Firefox 19+ */
               color: rgb(51, 51, 51);
            }       
            :-ms-input-placeholder {  
               color: rgb(51, 51, 51);
            }
            .ui-datepicker-month, .ui-datepicker-year{
                padding-right: 0px;
                padding-left: 15px;
            }
            input.textAnswer.validationElement{
                border: 2px solid red;
            }
            .validationElement {
                border: 2px solid red;
            }
            .navbar{
                background-color: #000000;
                border-color: #000000;
            }
            h3.vw-full-page-link-title{
                color: #FFFFFF;
            }
            .vwspc-section{
                margin-top:0px;
                min-height: 100vh;
            }
            .vwspc-section-full-page-link .vw-full-page-link-title{
                margin:0px;
                margin-top:15px;
            }
            .container{
                padding-top:10px;
            }
            .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }
        .fileUpload input.upload{
            background: -webkit-linear-gradient(top, #00449C 0%, #00449C 50%, #000000 50%, #003087 50%, #003087 100%);
            background: linear-gradient(to bottom, #00449C 0%, #00449C 50%, #000000 50%, #003087 50%, #003087 100%);
            background-color: #003087;
            min-width: 162px;
            font-size: 15px;        
            text-transform: uppercase;
            color: #FFFFFF;
            height: 42px;
           /* border-radius: 5px;*/
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .docSubmitted{
            height: 46px;
            font-size: 18px;
            font-weight: bold;
            color: green;
        }
        input[type="checkbox"]{
            height:30px;
            width:30px;         
        }
        .checkbox input[type="checkbox"]{
            margin-left:-50px;
        }
        .checkbox label {
            min-height: 27px;
            padding-left: 0px;
            margin-bottom: 0;
            font-weight: bold;
            cursor: pointer;
            font-size: 18px;
        }
        ::-webkit-input-placeholder {
           opacity:0.8;
           font-style: italic;
           font-size: 18px;
        }
        
        :-moz-placeholder { /* Firefox 18- */
           opacity:0.8;
           font-style: italic;
           font-size: 18px;  
        }
        
        ::-moz-placeholder {  /* Firefox 19+ */
           opacity:0.8;
           font-style: italic;
           font-size: 18px;  
        }
        
        :-ms-input-placeholder {  
           opacity:0.8;
           font-style: italic;
           font-size: 18px;  
        }
        .summaryCheck{
            width: 30px;
            height: 30px;
            border: 1px solid black;
            font-size: 25px;
            color: #29a53f;
            /*margin-left:-5px;*/
            margin-top:8px;
            border-radius:4px;
        }
        .summaryText{
             padding:10px 0px 0px 0px;
             font-weight:bold;
             text-align:left;
             width:150px;
             margin:0px !important;
             white-space:nowrap;
        }
        *{
            font-family: "Arial" !important; /*Open Sans*/
        }
        .glyphicon{
            font-family: "Glyphicons Halflings" !important;
        }
        .clearDiv{
            padding:0px;
            /*clear:both;*/
            float:left;
            width: 40px !important;
            
        }
        .summary{
            max-width:80%;
            float:left;
            /*min-width:110px;*/
            border-radius:5px;
        }
         .summaryBox{
            clear:none;
            overflow:hidden;
            float: left;
            width: 350px !important;
        }
        .col-md-12 {
            padding-left:5px !important;
            padding-right:5px !important;
            overflow: hidden;
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;
        }
        .checkboxDiv{
            padding:0px;    
        }
        /*==================================================
        =            Bootstrap 3 Media Queries             =
        ==================================================*/       
        @media only screen and (min-width : 320px) and (max-width : 568px) {
            .navbar-header {
                margin:0px !important;
            }
            .vw-full-page-link-title {
                font-size:25px !important;
            }
            .vwspc-section-full-page-link {
                padding-top: 30px !important;
            }
            body {
                margin:0px !important;
            }
            .row {
                margin:0px !important;
            }
            h1 {
                font-size:20px;
            }
            .backstretch {
               display:none;
            }
            .summaryBox {
                width: 150px !important;
                clear: none;
                display:inline-block;
            }
            
            .checkboxDiv {
                padding: 0px;
                float: left;
                display: inherit;
                margin-left: 5px !important;
            }
            .clearDiv {
                padding: 0px;
                clear: both;
                width: 30px;
                display: inline-block;
                float: left;
            }
            .summaryText {
                margin: 0px;
                display: inline-block;
                text-align: left;
                padding-left: 10px;
                float: left;
                white-space: nowrap;
                clear: both;
                font-weight: bold;
                text-align: left;
                font-size:14px;
            }
            .checkboxDiv {
                padding: 0px;
                float: left;
                display: inherit;
                margin-left: 10px;
            }
            .checkboxDiv input {
                max-width:120px;
            }
            .summary {
                width:90px !important;
                /*min-width:90px !important;*/
                font-size:13px !important;
            }
            .vw-button {
                font-size:13px !important;
            }
        }
        @media only screen and (min-width : 360px)  and (max-width : 640px) {
            .summaryBox {
                width:170px !important;
            }
            .vwspc-section-full-page-link {
                padding-top: 30px !important;
            }
        }
        @media (min-width : 375px)  and (max-width : 667px) {
            .navbar-header {
                margin:0px !important;
            }
            body {
                margin:0px !important;
            }
            .row {
                margin:0px !important;
            }
            .backstretch {
               display:none;
            }
            .navbar-brand {
                width:80%;
            }
            #registerInputs{
                padding-top:40px;
            }
            .textAnswer{
                width:97%;
            }   
            select{
                width:97%;
                padding-right:5px;
            } 
            fullSelect{
                width:96%;
            }
            .phone1{
                width:46%;
            }
            .phone1NoAst{
                margin-right:7px;
                width:46%;
            }
            .phoneRight{
                width:49%;
            }
            .phoneRightNoAst{
                width:49%;
            }
            .phone2{
                width:49%;
            }
            .noComputer{
                float:left;
                width:100%;
                font-size:20px;
                padding-top:7px;             
            }
            .noComputerCheck{
                float:none;
                text-align:center;
                width:100%;
                padding-top:10px;
            }
            .docTitle{              
                width:100%;
            }
            .docTitleDiv{
                width:100%;
                clear:both;
                margin-bottom:7px;
            }
            /*sup{
                float:right !important;
                top: .3em;
            }*/
            
            .docButton{
                height:44px;
                max-width:48%;
                padding-top:5px;
            }
             .ccaf{
                text-align:center;
             }
            .vwspc-section-full-page-link .vw-full-page-link-title{
                margin-top:0px;
                text-align:center;
                font-size:24px;
            }
            .vwspc-section-full-page-link .vw-full-page-link-header{
                padding:20px 5px;
                text-align:center;
                width:100%;
            }
            .backstretch{
                display:none;
            }
            .summary{
                max-width:150px !important;
                float:none;     
            }
            .clearDiv{
                padding: 0px;
                clear: both;
                width: 30px;
                display: inline-block;
                float: left;
            }
            .summaryBox{
                width: 170px !important;
                display:inline-block;
            }
            .checkboxDiv{
                padding: 0px;
                float: left;
                display: inherit;
                margin-left: 5px;
            }
            .summaryText{
                margin: 0px;
                display: inline-block;
                text-align: left;
                float: left;
                white-space: nowrap;
                clear: both;
            }
            h1{
                font-size:20px;
            }
            .vwspc-section-full-page-link {
                padding-top: 30px !important;
            }
        }
        @media only screen and (min-width : 412px) and (max-width : 732px) {
            .summaryBox {
                width: 200px !important;
            }
            .vwspc-section-full-page-link {
                padding-top: 30px !important;
            }
            .summary {
                width: 140px !important;
            }
        }
        @media only screen and (min-width : 414px) and (max-width : 736px) {
            body {
                margin:0px !important;
            }
            .vwspc-section-full-page-link {
                padding-top: 30px !important;
            }
            .row {
                margin:0px !important;
            }
            .navbar-header {
                margin:0px !important;
            }
            .backstretch {
               display:none;
            }
            h1 {
                font-size:22px;
            }
            .summaryBox {
                width: 200px !important;
                clear: none;
                display:inline-block;
            }
            .checkboxDiv {
                padding: 0px;
                float: left;
                display: inherit;
                margin-left: 5px !important;
            }
            .clearDiv {
                padding: 0px;
                clear: both;
                width: 30px;
                display: inline-block;
                float: left;
            }
            .summaryText {
                margin: 0px;
                display: inline-block;
                text-align: left;
                padding-left: 10px;
                float: left;
                white-space: nowrap;
                clear: both;
                font-weight: bold;
                text-align: left;
            }
            .checkboxDiv {
                padding: 0px;
                float: left;
                display: inherit;
                margin-left: 10px;
            }
            .summary {
                width:120px;
            }
        }
        @media only screen and (min-width: 768px)  and (max-width : 1024px){
            .navbar-nav {
                float: right;   
            }
            .checkboxDiv {
                width:250px;
            }
            .summaryBox:nth-child(odd) {
                margin-left:50px;
            }
        }  