/* Steps */

div.steps-row
{
	background-color: #E7E7E7;
	min-height: 6px;
}

div.steps-row > ul.steps
{
	counter-reset: step;
	line-height: 1px;
	list-style-type: none;
	margin: 10px 15px;
	padding: 0;
}

div.steps-row > ul.steps > *
{
	width: 0;
}

div.steps-row > ul.steps > li
{
	border-left: 2em solid transparent;
	border-top: 2em solid #FFF;
	border-bottom: 2em solid #FFF;
	counter-increment: step;
	float: left;
	height: 0;
	margin: 0;
	margin-left: 0.4%;
	padding: 0;
	position: relative;
	width: 33.033%;
}

div.steps-row > ul.steps > li:after
{
	border-bottom: 2em solid transparent;
	border-left: 2em solid #FFF;
	border-top: 2em solid transparent;
	content: "";
	height: 0;
	display: inline-block;
	position: absolute;
	right: -2em;
	top: -2em;
	width: 0;
}

div.steps-row > ul.steps > li > a
{
    background-color: #FFF;
    color: #696A6D;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.95em;
    overflow: hidden;
    padding-left: 1.25em;
    padding-right: 0;
    position: relative;
    text-decoration: none;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    top: -1.5em;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

div.steps-row > ul.steps > li > a:before
{
	background-color: #005695;
	border-radius: 16px;
	color: #FFF;
	content: counter(step);
	display: inline-block;
    font-size: 18px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin-right: 8px;
	margin-top: -2px;
	padding-right: 1px;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}

div.steps-row > ul.steps > li:first-child
{
	border-left: 0 solid #FFF;
	border-radius: 5px 0 0 5px;
	margin-left: 0;
}

div.steps-row > ul.steps > li:last-child
{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

div.steps-row > ul.steps > li:last-child:after
{
	border: 0 solid transparent;
}

div.steps-row > ul.steps > li:last-child > a
{
	padding-right: 2em;
}

div.steps-row > ul.steps > li.ui-state-selected
{
	border-top-color: #000000;
	border-bottom-color: #000000;
}

div.steps-row > ul.steps > li.ui-state-selected > a
{
	background-color: #000000;
	color: #FFF;
}

div.steps-row > ul.steps > li.ui-state-selected > a:before
{
	background-color: #FFF;
	color: #000000;
}

div.steps-row > ul.steps > li.ui-state-selected:after
{
	border-left-color: #000000;
}

div.steps-row > ul.steps > li.ui-state-selected:first-child
{
	border-left-color: #000000;
}

div.steps-row > ul.steps > li.ui-state-selected:last-child:after
{
	border-top-color: #000000;
	border-bottom-color: #000000;
}

div.steps-row > ul.steps > li.ui-state-completed > a:before
{
	background-color: #005695;
	color: #FFF;
	content: "\2713";
	font-style: normal;
	font-size: 18px;
}

@media (max-width: 650px)
{
	div.steps-row > ul.steps > li
	{
		width: 22.6%;
	}

	div.steps-row > ul.steps > li.ui-state-selected
	{
		width: 53.6%;
	}

	div.steps-row > ul.steps.steps-completed > li
	{
		width: 33.033%;
	}
}
